.header {
    padding: 5px 30px;
    background-color: royalblue;
}

.title {
    color: aliceblue;
    text-decoration: none;
}

.login, .register, .new-post {
    float: right;
    text-decoration: none;
    color: aliceblue;
    padding-top: 10px;
}
