.header{
  padding: 5px 20px;
  background: #66B539;
}

.title{
  color: aliceblue;
  text-decoration: none;
}

.login,.register, .logout,.new-post{
  float: right;
  text-decoration: none;
  color: whitesmoke;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.login:hover, .register:hover, .logout:hover, .new-post:hover{
  background-color: #E8F7DD;
  color: #374148;
}




