<!-- <div class="container justify-content-center">
  <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
    <div class="form-group">
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" id="inputUsername" [formControlName]="'username'" class="form-control" placeholder="Username" required="" autofocus="">
    </div>
    <div class="form-group">
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="text" id="inputEmail" [formControlName]="'email'"class="form-control" placeholder="Email" required="" autofocus="">
    </div>
    <div class="form-group">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" [formControlName]="'password'" class="form-control" placeholder="Password" required="">
    </div>
    <div class="form-group">
      <label for="inputConfirmPassword" class="sr-only">Password</label>
      <input type="password" id="inputConfirmPassword" [formControlName]="'confirmPassword'" class="form-control" placeholder="Confirm Password" required="">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
  </form>
</div> -->

<div class="register-container">
<div class="card" style="height: 550px; width: 400px;">
  <h4 class="card-header">Register</h4>
  <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <!-- <label for="inputUsername">Username</label> -->
              <input type="text" id="inputUsername" [formControlName]="'username'" class="form-control input-popup" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
          </div>
          <div class="form-group">
              <!-- <label for="inputEmail">Email</label> -->
              <input type="text" id="inputEmail" [formControlName]="'email'" class="form-control input-popup" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
              </div>
          </div>
          <div class="form-group">
            <!-- <label for="inputPassword">Password</label> -->
            <input type="password" id="inputPassword" [formControlName]="'password'" class="form-control input-popup" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
            </div>
        </div>
          <div class="form-group">
              <!-- <label for="inputConfirmPassword">Confirm password</label> -->
              <input type="password" id="inputConfirmPassword" [formControlName]="'confirmPassword'" class="form-control input-popup" placeholder="Confirm password"  [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmPassword.errors.required">Confirm password is required</div>
                  <div *ngIf="f.confirmPassword.errors.minlength">Confirm password must be at least 8 characters</div>
              </div>
          </div>
          <div class="form-group">
              <button [disabled]="loading" style="background-color: #66B539 !important; border: #66B539;" class="btn btn-primary btn-footer">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Register
              </button>
          </div>
          <div class="form-group">
            <div style="margin: 0px auto; display: flex; justify-content: space-around;">
              <p style="margin-top: 7px; font-size: 17px; color:#374148 ;">Already have account?</p><a style="font-size: 17px; color: #66B539;" routerLink="../login" class="btn btn-link">Login here</a>
            </div>
          </div>
      </form>
  </div>
</div>
</div>